.list-container {
  height: 100%;
}

.van-capsule {
  height: 80px;
  border: 1px solid #707070;
  border-radius: 9999px;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.van-capsule:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.truck-icon {
  position: absolute;
  left: 0.5rem;
}

.utensils-container {
  position: absolute;
  right: 0.5rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.utensils-icon {
  position: absolute;
  top: 50%;
  transform: translate(-55%, -42%);
  left: 50%;
}

.truck-details-container {
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  font-size: 1.25rem;
}

.truck-details-container > div:first-child {
  margin-bottom: 0.25rem;
}

.bottom-truck-container {
  display: flex;
  align-items: center;
}

.truck-stars {
  margin-left: 0.5rem;
  color: #ffb701;
}

@media (max-width: 376px) {
  .truck-details-container > div:first-child {
    max-width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
